<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Go ahead,Go!</h2>
    <!--Keep going on-->
    <img src="https://media1.tenor.com/m/JxiJB3RFrsEAAAAC/jim-carrey-smile.gif">
</body>
</html>